@import 'compass';
@import 'variables';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $base;
  color: white;
  font-size: 20px;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
}

hr{
  border:0;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 30px;
  }
}

a {
  text-decoration: none;
  color: white;
  &:hover, &:focus, &:active {
    text-decoration: none;
    color: white;
  }
}

.overlay {
  background: rgba($base, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  .center {
    position: absolute;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

/************** HEADER *************/
header {
  height: 100vh;
  overflow: hidden;
  position: relative;
  a {
    border: 1px solid white;
    padding: 5px 25px 8px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    &:hover, &:focus, &:active {
      color: rgba(white, 0.8);
    }
  }
  .video-background {
    background: $base;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
  }
  .video-foreground,
  .video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .overlay {
    width: 100vw;
    height: 100vh;
    .center {
      width: 100vw;
    }
  }
  @media (min-aspect-ratio: 16/9) {
    .video-foreground {
      height: 300%;
      top: -100%;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .video-foreground {
      width: 300%;
      left: -100%;
    }
  }
  @media all and (max-width: 600px) {
    .vid-info {
      width: 50%;
      padding: .5rem;
    }
    .vid-info h1 {
      margin-bottom: .2rem;
    }
  }
  @media all and (max-width: 500px) {
    .vid-info .acronym {
      display: none;
    }
  }
}

/********************** CONTENT *******************/
main {
  &.container{
    padding: 0 30px;
  }
  a{
    padding: 5px 10px;
    font-size: 16px;
    &:focus{
      background: white;
      color: $base;
    }
    &.disable {
      color: white;
      opacity: 0.5;
      pointer-events: none;
      &:focus{
        background: none;
        color: white;
        opacity: 0.5;
      }
    }
  }
  a[data-filter="paper"]:focus ~ article:not([data-filter="paper"]),
  a[data-filter="computer"]:focus ~ article:not([data-filter="computer"]){
    display: none;
  }

  article {
    position: relative;
    margin: 0 -15px 20px;
    display: block;
    img {
      width: 100%;
      height: auto;
    }
    .overlay {
      margin: 0 15px;
      width: calc(100% - 30px);
      height: 100%;
      @include background-image(linear-gradient(top, rgba($imgOverlay, 0.3) 0%, rgba($imgOverlay, 0.5) 100%));
      .center {
        width: 100%;
        color: $imgTitle;
      }
    }
  }

  @media screen and (min-width: 768px) {
    &.container {
      width: calc(100% - 200px);
      margin: 0 100px;
    }
    a{
      font-size: 20px;
    }
    article {
      margin: 15px 15px 15px -15px;
      .overlay {
        opacity: 0;
        @include background-image(linear-gradient(top, rgba($imgOverlay, 0.7) 0%, rgba($imgOverlay, 0.95) 100%));
        -webkit-transition: all .3s;
        -moz-transition: opacity .3s;
        -ms-transition: opacity .3s;
        -o-transition: opacity .3s;
        transition: opacity .3s;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}